<tr>
    <%if user.blank?%>
    <td>
        <%=link_to "Assign #{field_name}", new_people_circle_path%></td>
    <%else%>
    <th><%= field_name%>
    </td>
    <td><%= person.full_name%>
    </td>
    <%end%>

  <tr>
